# Dependencies
node_modules/

# Environment Variables
.env
.env.*
.env*.local
!.env.example

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Uploads & Temporary storage
uploads/
temp/
tmp/

# Testing & Coverage
coverage/
.nyc_output/

# Build Output
dist/
build/

# Operating System Files
.DS_Store
Thumbs.db

# IDE & Editor Files
.vscode/
.idea/
